@charset "utf-8";
/* CSS Document */
body{/*background:#EFF0F4;*/text-align:left;/*font-family:STHeiti,Arial;*//*font-family: "HiraginoSansGB W3";*/font-family: "Helvetica,  PingFangSC-Regular, sans-serif;"; height:100%;}
html, body, div, p, span, dt, dl, dd, ul, li, a, form, label, input, select, option, h5, h4, h3, h2, h1, table, tr, td, img, hr{margin:0;padding:0; list-style-type:none;-webkit-text-size-adjust:none;}
body{font:1em "Microsoft YaHei", Arial, Helvetica, sans-serif; position:relative ;min-height:100%; background:rgba(242,242,242,1.0);}
a{text-decoration:none;}
li{list-style:none;}


/*html5 for html5.js*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block;} 
ol, ul, li { list-style: none;}
h1,h2,h3,h4,h5,h6 { font-weight:normal;}
input, select { vertical-align:middle; border:medium none; outline:none;}
table { border-collapse:collapse; border-spacing:0; /*table-layout:fixed;*/}
a { text-decoration:none; padding:0; margin:0; color:#333;}
a:hover{ text-decoration:underline;}
a{ blr:expression(this.onFocus=this.blur());  /* IE Opera */ outline:none;   /* FF Opera */ }
a:focus{ -moz-outline-style: none; }  /* FF */
/*清除文字内容
兼容：√ ie6.0 、 7.0 、8.0、firefox 3.010 
*/
.txtHide { line-height:0; font-size:0; overflow:hidden;}
/*用于seo不显示的内容*/
.seo { position: absolute; visibility: hidden; top: 0; left: 0; width: 0; height: 0; overflow: hidden;}
.seo, .hideImg { position: absolute; visibility: hidden; top: 0; left: 0; width: 0; height: 0; overflow: hidden;}
.hideImg { overflow: hidden;}
.hideImg img { width: 0; height: 0; overflow: hidden;}
/* 禁用iPhone中Safari的字号自动调整 */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}
/* 去除iPhone中默认的input样式  清除苹果浏览器的圆角表单*/
input[type="submit"],
input[type="reset"],
input[type="button"],
input{-webkit-appearance:none; resize: none;}
/* 取消链接高亮  */
body,div,ul,li,ol,h1,h2,h3,h4,h5,h6,input,textarea,select,p,dl,dt,dd,a,img,button,form,table,th,tr,td,tbody,article, 
aside, details,figcaption,figure,footer,header,hgroup, menu,nav,section{ -webkit-tap-highlight-color:rgba(0, 0, 0, 0);}
/* 图片自适应 */
img {max-width: 100%;height: auto;width:auto\9; /* ie8 */display: block;-ms-interpolation-mode:bicubic;/*ie图片缩放失真*/}
body, html {font-family:"Microsoft YaHei"; width:100%; height:100%; background:#fff; color:#999; font-size:14px;}




*{ margin:0 auto;}
.pub img{ width:100%; height:auto;}
table {margin:0px auto;}
.fb {font-weight:bold;}
.clear {clear:both;}
.mar0 {margin:0px auto;}
.center {text-align:center;}
.right {text-align:right;}
.ver {vertical-align:middle;}
.hei10 {height:10px; line-height:10px; clear:both; display:block; width:1px; margin:0px auto; background:#FFFFFF; font-size:0px;}

.neirong{ width:90%; padding:0 5%;}
.neirong_h1{ font-size:24px; text-align:left; padding:20px 0 15px 0; border-bottom:1px dotted #999;}
.neirong_h2{ font-size:18px; text-align:left; padding:10px 0 15px 0; color:#999999;}
.neirong_h3{ font-size:20px; text-align:center; padding:10px 0 15px 0;}
.neirong_h4{ font-size:20px; text-align:center; padding:10px 0 15px 0; line-height:22px;}
.n_cont{ font-size:14px; color:#333; line-height:24px; padding-top:20px; padding-bottom:40px;}
.n_cont1{ font-size:12px; color:#999; line-height:24px; padding-bottom:20px;}
.n_cont2{ font-size:14px; line-height:20px; padding:10px; border:#ff0000 1px solid; width:90%;}
.n_cont3{ font-size:12px; line-height:20px; padding:10px; width:70%; text-align:center;}
.n_cont img{ margin:10px auto; width:100%;}
.n_nva{ height:50px; color:#FFF; font-size:20px; line-height:50px; padding-left:5%; width:95%; background:#333;}
.n_nva a{ color:#FFF; text-decoration:none;}

#header {background-color: #fff; height: 83px; width:100%;}
#header span.right{width: 17%; height: 70px;position: absolute;right: 0;top: 8px;background: url("../images/btn.png") no-repeat center center;background-size: 36px 36px;
transform:rotate(0deg);
-ms-transform:rotate(0deg);     /* IE 9 */
-moz-transform:rotate(0deg);    /* Firefox */
-webkit-transform:rotate(0deg); /* Safari 和 Chrome */
-o-transform:rotate(0deg);
-webkit-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;
}
#header span.right.on{background: url("../image/close.png") no-repeat center center;background-size:30px 30px;
transform:rotate(135deg);
-ms-transform:rotate(135deg);     /* IE 9 */
-moz-transform:rotate(135deg);    /* Firefox */
-webkit-transform:rotate(135deg); /* Safari 和 Chrome */
-o-transform:rotate(135deg);

-webkit-transition: all 0.3s linear;
-ms-transition: all 0.3s linear;
-moz-transition: all 0.3s linear;
-o-transition: all 0.3s linear;
transition: all 0.3s linear;}

#header {width: 100%; height: 56px; background: rgba(245,245,249,1.0); display: table;}


.p_newsitem {overflow:hidden;}
.p_newsitem > div{float:left;width:100%; position:relative; background:#fff; padding-bottom:20px;}
.p_newstab {overflow:hidden; background:#fff;}
.p_tabnav {clear:both;overflow:hidden; *zoom:1; margin-bottom:10px solid #F2F2F2; height:45px; line-height:45px; background:#fff; font-size:16px;  border-bottom:1px solid #dfdfdf; padding-bottom:2px;}
.p_tabnav li {float:left; cursor:pointer; background:#fff; color:#000; width:50%; text-align:center;}
.p_tabnav li.active {color:#ed4542; border-bottom:2px solid #ed4542!important; z-index:999;}
.search_area {width:94%; margin-top: 14px;}
.search {width:80%; height: 28px; line-height: 140%; float:left; background:#fff url("../images/icon_search.png") no-repeat 8px 6px; background-size:15px 16px; text-indent: 2.5em; font-family: "PingFangSC-Regular"; color: #b2b2b2; font-size:1em;}
.button {width:16.5%; height: 28px; line-height: 30px; float: left; border-radius: 4px; background:rgba(237,69,66,1.0); font-family: "PingFangSC-Regular"; margin-left: 3%; color: #fff; font-size:1em;}
.search_box {width: 100%; border-radius: 4px;}
.clearer {float: left; width: 6%!important; border: none; display: none; height: 28px; background:#fff url("../images/icon_clear.png") no-repeat 0px 5px; background-size:18px 18px; margin-left:-6%;}





.news{width: 92%;}
h1 {font-size: 1.8em; color: #333; line-height: 140%; margin-top: 24px; font-family: "PingFangSC-Regular";}
.padd_1 {margin-top: 14px;}
.news_content {width:100%; font-size:1.2em; line-height:180%; text-indent:2em; padding-bottom:84px; color:#333; font-family: "PingFangSC-Regular"; display: table;}
.news_content img {padding-bottom:14px; padding-top:14px; width:auto; max-width:100%; display:block; margin:0px auto;}

.navigation{
	height:70px;
	width:100%;
	position:fixed; bottom:0px;
	z-index:9999; text-align:center;
	background:rgba(255,255,255,0.7);
	margin-bottom:-5px;
}
A.font_baoming:link {
	margin-top:12px; display: table; width:90%; height:44px; background:#ed4542; text-align:center; line-height:44px; color:#fff; _display:inline; text-decoration:none; font-size:1.2em;font-family:"PingFangSC-Regular"; border-radius: 5px;
}
A.font_baoming:hover {
	 display: table; width:90%; height:44px; background:#ed4542; text-align:center; line-height:44px; color:#fff; _display:inline; text-decoration:none; font-size:1.2em; -webkit-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease; transition:all .2s ease;
}
A.font_baoming:active {
	 color:#fff;
}
A.font_baoming:visited {
	 color:#fff;
}
A.font_ybaoming {
	margin-top:12px; display: table; width:25%; height:42px; background:#fff; text-align:center; line-height:42px; color:#a1a1a1; _display:inline; text-decoration:none; font-size:1.2em;font-family:"PingFangSC-Regular"; border: 1px solid #e5e5e5; float: left; margin-left: 3%;
}
A.font_ybaoming_all {
	margin-top:12px; display: table; width:90%; height:42px; background:#fff; text-align:center; line-height:42px; color:#a1a1a1; _display:inline; text-decoration:none; font-size:1.2em;font-family:"PingFangSC-Regular"; border: 1px solid #e5e5e5;
}

A.font_cancel {
	margin-top:12px; display: table; width:66%; height:44px; background:#f7b55e; text-align:center; line-height:44px; color:#fff; _display:inline; text-decoration:none; font-size:1.2em;font-family:"PingFangSC-Regular"; float: left; margin-left: 2%;
}
A.font_cancel:hover {
	 display: table; width:66%; height:44px; background:#f7b55e; text-align:center; line-height:44px; color:#fff; _display:inline; text-decoration:none; font-size:1.2em; -webkit-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease; transition:all .2s ease;
}
.radius5 {-webkit-border-radius: 5px;-moz-border-radius: 5px;-o-border-radius: 5px;-ms-border-radius: 5px; border-radius: 5px;}
.search_error {width: 80%; margin-top: 25%; text-align: center; font-family: "PingFangSC-Regular"; font-size: 1.2em; line-height: 360%;}
.search_error img {width: 50%; margin:0px auto;}
.search_error span {display: block;}
.search_result {width: 100%; height: 44px; line-height: 44px; text-align: center; font-size: 14px; color: #999999; font-family: "PingFangSC-Regular"; border-bottom: 1px solid #e5e5e5; padding-top: 56px;}
.campus_t b {font-weight:100; color: #ed4542;}

/*two*/
.job_area {width:100%;}
.job_area p {height:12px; width:100%; background:rgba(245,245,249,1.0); display:table;}
.job_area dl {width:100%; overflow:hidden;  position:relative; padding-top:12px; height:100%; border-bottom:1px solid #e5e5e5; font-family: "PingFangSC-Regular"; background:rgba(255,255,255,1.0); display:table; font-size:1em; line-height:180%; padding-bottom:12px; color:#333;}
.job_area dt {float:left; width:22%; text-align:right; padding-right:2%;}
.job_area dd {width:72%; float:right; text-align:left; padding-right:4%;}
.job_verify {width:100%;}
.job_verify p {height:12px; width:100%; background:rgba(245,245,249,1.0); display:table;}
.job_verify dl {width:100%; overflow:hidden;  position:relative; padding-top:12px; height:100%; border-bottom:1px solid #e5e5e5; font-family: "PingFangSC-Regular"; background:rgba(255,255,255,1.0); display:table; font-size:1em; line-height:180%; padding-bottom:12px; color:#333;}
.job_verify dt {float:left; width:22%; text-align:right; padding-right:2%;}
.job_verify dd {width:72%; float:right; text-align:left; padding-right:4%; color:#999;}

.job_info {width:100%;}
.job_info p {height:12px; width:100%; background:rgba(245,245,249,1.0); display:table;}
.job_info dl {width:100%; overflow:hidden;  position:relative; padding-top:12px; height:100%; border-bottom:1px solid #e5e5e5; font-family: "PingFangSC-Regular"; background:rgba(255,255,255,1.0); display:table; font-size:1em; line-height:180%; padding-bottom:12px; color:#333;}
.job_info dt {float:left; width:30%; text-align:right; padding-right:2%;}
.job_info dd {width:64%; float:right; text-align:left; padding-right:4%; color:#999;}
.job_info dd>p {height:auto!important; width:100%; background:none; display:table;}




A.font_verify:link {
	margin-top:12px; display: table; width:90%; height:44px; background:#f7b55e; text-align:center; line-height:44px; color:#fff; _display:inline; text-decoration:none; font-size:1.2em;font-family:"PingFangSC-Regular"; border-radius: 5px;
}
A.font_verify:hover {
	 display: table; width:90%; height:44px; background:#f7b55e; text-align:center; line-height:44px; color:#fff; _display:inline; text-decoration:none; font-size:1.2em; -webkit-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease; transition:all .2s ease;
}
A.font_apply:link {
	margin-top:12px; display: table; width:90%; height:44px; background:#f2725e; text-align:center; line-height:44px; color:#fff; _display:inline; text-decoration:none; font-size:1.2em;font-family:"PingFangSC-Regular"; border-radius: 5px;
}
A.font_apply:hover {
	 display: table; width:90%; height:44px; background:#f2725e; text-align:center; line-height:44px; color:#fff; _display:inline; text-decoration:none; font-size:1.2em; -webkit-transition:all .2s ease; -moz-transition:all .2s ease; -o-transition:all .2s ease; transition:all .2s ease;
}
A.font_already:link {
	margin-top:12px; display: table; width:90%; height:42px; background:#fff; text-align:center; line-height:42px; color:#999; _display:inline; text-decoration:none; font-size:1.2em;font-family:"PingFangSC-Regular"; border-radius: 5px; border:1px solid #e5e5e5;
}
A.font_already:hover {
	 display: table; width:90%; height:42px; background:#fff; text-align:center; line-height:42px; color:#999; _display:inline; text-decoration:none; font-size:1.2em;  border:1px solid #e5e5e5;
}
.bind_area {width:90%;}
.input_xy {line-height: 42px; font-family: "PingFangSC-Regular"; border:1px solid #dddddd; border-radius: 5px; width: 100%; margin-top: 30px; text-indent: 0.8em; color: #999;}

.padd_01 {margin-top: 30px;}
.sub_note {color: #f7b55e; line-height: 180%; font-family: "PingFangSC-Regular"; padding-top: 12px; width: 90%; font-size: 1.0em;}
.input_cp {/*line-height: 42px; */font-family: "PingFangSC-Regular"; border:0px; width: 96%; text-indent: 0.8em; color: #999;}

.btn-default {cursor:hand; width:16%; height:22px; background:#fff; text-align:center; line-height:22px; color:#535353;  float:left; _display:inline; text-decoration:none; display:table; border:1px solid #e5e5e5; padding-left:10px; padding-right:10px; min-width: 30px;}
.btn-default:hover{ color:#ed4542; text-decoration:none; display:table; background:#e5e5e5;}
.btn_left {border-top-left-radius:5px; border-bottom-left-radius:5px; float: left;}
.btn_right {border-top-right-radius:5px; border-bottom-right-radius:5px; float: left;}
.btn_1 {margin-left:-1px;}

.btn-default.on{color:#ed4542; text-decoration:none; display:table; background:#e5e5e5;}

.job_list_p { padding-top: 14px;}
.job_list {width:90%; padding:5%; line-height: 180%; border-bottom: 1px solid #e5e5e5; background:rgba(255,255,255,1.0); margin-bottom: 14px;}
.job_company {width:100%; font-size: 1.2em; color: #000; position: relative;}
.job_company p {position: absolute; right: 3%; top: 12%; font-family: Euphemia; color: #d7d7d7;}





@media (min-width: 320px) { 
.mechanism_h div {width:50%!important; overflow: hidden;}
.mechanism_t div {width:50%!important; overflow: hidden;}
}











@media (max-width: 480px) { 
.campus { padding-left:12px;}
.campus dl {width:96%; overflow:hidden; font-family: "Microsoft YaHei"!important; position:relative; margin-top:18px; height:100%; border-bottom:1px solid #e5e5e5;}
.campus dt {float:left; width:29%;}
.campus dt img{width:100%; padding-top: 4px; margin-bottom: 22px;}
.campus dd {width:68%; float:right; text-align:left; color:#545454; line-height:20px; height:auto;}
.campus_t {width:auto; line-height:26px; color:#38495E; margin-bottom:8px ;font-family:"Microsoft YaHei"; font-size:16px; font-style:normal;}
.campus_text {margin-left:8px; width: auto; line-height: 22px!important; height: 22px!important; text-align: center!important; font-size: 0.7em!important; padding:1px 7px 0px 8px; border-radius:25px; text-indent: 0em; font-family: "PingFangSC-Regular"; margin-bottom: 6px;}

}

.prc_ostudy {width:100%; position:relative; margin-bottom: 14px!important; display: table;}
.prc_ostudy p {color:#FF9900; font-family: "Microsoft YaHei"!important; line-height:24px; font-size:12px; position:absolute; top:0px; right:0px;}
.prc_ostudy p span {font-size:18px;}
.prc_text {width:120px; height:19px; line-height:19px; text-align:center; font-size:0.8em; color:#fff; background:#1CC69A;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;-ms-border-radius: 4px; font-family: "PingFangSC-Regular";}
.prc_data {width:auto; height:18px; line-height:20px; text-align:left; font-size:0.8em; background: url(../images/data.png) no-repeat 0px 1px; background-size:13px 13px; text-indent:2.0em; font-family: "PingFangSC-Regular";}

.prc_addr {width:auto; height:18px; line-height:20px; text-align:left; font-size:0.8em; background: url(../images/addr.png) no-repeat 0px 6px; background-size:13px 13px; text-indent:2.0em; height: 140%; padding-top: 4px; position: relative;}

.lable1  {border:1px solid #f27c7a; color: #f27c7a!important;}
.lable2 {border:1px solid #f7b55e; color: #f7b55e;}
.lable3 {border:1px solid #c2c2c2; color: #c2c2c2!important;}
/*0516*/

.mechanism { padding-left:12px;}
.mechanism dl {width:96%; overflow:hidden; font-family: "Microsoft YaHei"!important; position:relative; margin-top:18px; height:100%; border-bottom:1px solid #e5e5e5;}
.mechanism dt {float:left; width:13%;}
.mechanism dt img{width:70px; margin-bottom:15px;}
.mechanism dd {width:84%; float:right; text-align:left; color:#545454; line-height:20px; height:auto; padding-bottom: 14px;}
.mechanism_t {height:34px!important; line-height:50px; color:#38495E; margin-bottom:18px ;font-family:"Microsoft YaHei"; font-size:16px; font-style:normal; position:relative;}

.mechanism_t div {height:34px!important; overflow:hidden; width:55%; float:left}

.mechanism_t p {position: absolute; right: 0px; color: #999; font-size: 0.8em; top: 0px;}
.mechanism_t cite {position: absolute; width: auto; line-height: 22px; height: 22px; text-align: center!important; font-size: 0.9em; padding-left: 10px; border-radius:25px; text-indent: 0em; padding-right: 10px; border:1px solid #cacaca; color: #cacaca!important; font-style: normal; margin-top: 14px; margin-left:8px; font-family: "PingFangSC-Regular";}

.mechanism_h {line-height:25px; color:#38495E; font-family:"Microsoft YaHei"; font-size:16px; font-style:normal; position:relative;}
.mechanism_h p {position: absolute; right: 0px; color: #999; font-size: 0.8em; top: 0px;}
.mechanism_h div {height:30px!important; overflow:hidden; width:55%; float:left}
.mechanism_h cite {position: absolute; width: auto; line-height: 22px; height: 22px; text-align: center!important; font-size: 0.9em; padding-left: 10px; border-radius:25px; text-indent: 0em; padding-right: 10px; border:1px solid #cacaca; color: #cacaca!important; font-style: normal; margin-left:8px; font-family: "PingFangSC-Regular";}
.mechanism_h span {display:block!important; line-height:25px!important; font-size:0.8em; color:#999999; position:absolute; left:0px; top:25px;}








@media (min-width: 640px) {
.campus { padding-left:20px;}
.campus dl {width:96%; overflow:hidden;  position:relative; margin-top:18px; height:100%; border-bottom:1px solid #e5e5e5;}
.campus dt {float:left; width:25%;}
.campus dt img{width:100%; margin-bottom: 22px; padding-top: 4px;}
.campus dd {width:72%; float:right; text-align:left; color:#545454; line-height:20px; height:auto;}
.campus_t {width:100%; height:34px!important; line-height:24px; color:#38495E; margin-bottom:18px ;font-family:"Microsoft YaHei"; font-size:18px; font-style:normal;}
.campus_text {margin-left:8px; width: auto; line-height: 22px!important; height: 22px!important; text-align: center!important; font-size: 0.7em!important; padding:1px 7px 0px 8px; border-radius:25px; text-indent: 0em; font-family: "PingFangSC-Regular"; margin-bottom: 6px!important;}
.prc_ostudy {width:100%; position:relative;/* margin-bottom: 24px!important;*/ display: table;}
.prc_ostudy p {color:#FF9900; font-family: "Microsoft YaHei"!important; line-height:24px; font-size:12px; position:absolute; top:0px; right:0px;}
.prc_ostudy p span {font-size:18px;}
.prc_text {width:120px; height:19px; line-height:19px; text-align:center; font-size:0.7em; color:#fff; background:#1CC69A;-webkit-border-radius: 4px;-moz-border-radius: 4px;-o-border-radius: 4px;-ms-border-radius: 4px; }
.prc_data {width:auto; height:18px; line-height:20px; text-align:left; font-size:1.0em; background: url(../images/data.png) no-repeat center left; background-size:16px 16px; text-indent:1.8em;}
.prc_addr {width:auto; height:18px; line-height:20px; text-align:left; font-size:1.0em; background: url(../images/addr.png) no-repeat 0px 6px; background-size:16px 16px; text-indent:1.8em; height: 180%; padding-top: 6px; position: relative;}
.prc_addr p {position: absolute; right: 0px; width: auto; line-height: 20px; height: 20px; text-align: center!important; font-size: 0.9em; padding-left: 14px; padding-left: 10px; border-radius:4px; text-indent: 0em; padding-right: 10px;}

.mechanism_t {padding-top:10px;}
.mechanism dt img{width:70px; margin-bottom:15px;}
.mechanism_t p {top: 10px;}

.mechanism_h {padding-top:10px;}
.mechanism_h p {top: 10px;}
.mechanism_h span {display:block!important; line-height:25px!important; font-size:0.8em; color:#999999; position:absolute; left:0px; top:36px;}
}

.head0525{ height:135px; width:90%; padding:0 5%; color:#FFF; font-size:14px; font-family: Euphemia; background: linear-gradient(90deg,#ee4f48, #f2725e); background: -moz-linear-gradient(90deg,#ee4f48, #f2725e);}
.head0525_l{ width:80%; height:80px; float:left;}
.head0525_l img{ width:80px; height:80px; border-radius:50%; margin-top:30px; float:left;}
.head0525_l h3{ margin-top:45px; padding-left:90px; display:block; font-weight:bold;}
.head0525_l p{ padding:10px 0 0 90px;display:block;}
.head0525_r{ width:20%; height:80px; display:block; float:right; margin-top:60px; background:url(../images/arrow.png) no-repeat right top; background-size:10%;}
.h40525{ height:30px; line-height:30px; font-size:14px; background:#f5f5f9; width:90%; padding:0 5%;}


.zhiwei { width:90%; height:70px; font-family: Euphemia; display:block; border-bottom:1px solid #e5e5e5; margin:0 auto; background:url(../images/icon_manager.png) no-repeat left; background-size:50px; position:relative;}
.zhiwei {border-bottom:1px solid #e5e5e5;}
.zhiwei:last-child {border-bottom:none;}
.h50525{ width:200px; overflow:hidden; display:block; float:left; font-size:16px; padding:25px 0 0 60px; color:#000; }
.time0525{ width:50px; color:#666; display:block; font-size:16px; text-align:right; position:absolute; top:25px; right:0;}

.zhiwei_2{ width:90%; height:70px; font-family: Euphemia; display:block; border-bottom:1px solid #e5e5e5; margin:0 auto; background:url(../images/icon_school.png) no-repeat left; background-size:50px; position:relative;}
.zhiwei_2:last-child{ border-bottom:0;}
.h50525_2{ width:200px; overflow:hidden; display:block; float:left; font-size:16px; padding:15px 0 0 60px; color:#000;}
.span0525_2{ display:block; float:left;padding:5px 0 0 60px; color: #999;}
.time0525_2{ width:50px; color:#666; display:block; font-size:16px; text-align:right; position:absolute; bottom:12px; right:0;}


.zhiwei_3{ width:90%; height:70px;  font-family: Euphemia; display:block; border-bottom:1px solid #e5e5e5; margin:0 auto; background:url(../images/icon_fabu.png) no-repeat left; background-size:50px; position:relative;}
.zhiwei_3:last-child{ border-bottom:0;}
.h50525_3{ width:200px; overflow:hidden; display:block; float:left; font-size:16px; padding:15px 0 0 60px; color:#000;}
.span0525_3{ display:block; float:left;padding:5px 0 0 60px; color: #999;}
.time0525_3{ width:50px; color:#666; display:block; font-size:16px; text-align:right; position:absolute; bottom:12px; right:0;}
.baoming {margin-top:12px; display: table; width:90%; height:44px; background:#ed4542; text-align:center; line-height:44px; color:#fff; _display:inline; text-decoration:none; font-size:1.2em;font-family:"PingFangSC-Regular"; border-radius: 5px;}